#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}

